.cardContent {
    margin-right: 3.5rem;

    .imgContent{
        transition: filter 0.5s;
        &:hover {
            // opacity: 0.8;
            filter: brightness(0.8);
        }
        
    }

    .descContent {
        padding: 10px;
        width: 100%;

        .titleCard{
            font-size: 2rem;
            color: var(--purple-navy);
        }

        .descriptionCard {
            margin-top: 10px;
            font-size: 1.1rem;
            color: var(--purple-navy);
            line-height: 20px;
        }

    }

}

    

