.formContent {
    width:100%;
    animation: fadeIn 1.8s ease-in-out;
    display: flex;

    .inputWrapper{
        position: relative;
        width: 100%;
        
        input {
            width: 99%;
            height: 4rem;
            // margin: 0 0px;
            padding-left: 15px;
            border-style: hidden;
            border: 2px solid var(--glossy-grape); 
            border-radius: 3px;

            font-size: 1.2rem;
            color: var(--purple-navy);
            opacity: 0.8;

            // border-radius: 4px;
            // border-color: var(--glossy-grape);

            &::placeholder {
                color: var(--purple-navy);
                opacity: 0.8;
                // font-weight: 600;
            }

            &:focus {
                opacity: 0.4;
            }   
        }

        .closeIcon{
            height: 2.1rem;
            width: 2.1rem;
            padding: 4px;
            position: absolute;
            top:23%;
            right: 20px;
            color: var(--purple-navy);
            opacity: 0.5;
            
            &:hover{
                cursor: pointer;
            }
        }
    }
}



@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}