.container {
    display: block;
}

.containerHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
}

.inputContent {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}